[class*="NavBar-logoContainer-"] {
     background-image: url("https://cloud.vcpmc.net/s/6t6z9GCii8wjiBM/download");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
    width: 40px;
}

[class*="NavBar-logoContainer-"] svg {
    display: none;
}
